body {
    font-family: Arial, sans-serif;
    background-color: rgb(171, 81, 77);
}

h1 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    width: 300px;
    background-color: #fefefe;

    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

